<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="_id">
    <th mat-header-cell *matHeaderCellDef>#</th>
    <td mat-cell *matCellDef="let element">{{ element.i }}</td>
  </ng-container>
  
  <ng-container matColumnDef="task_name">
    <th mat-header-cell *matHeaderCellDef>Task Name </th>
    <td mat-cell *matCellDef="let element">
      <div class="text1">
        {{ element.task_name }}
      </div>
    </td>
  </ng-container>

  <!-- <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Description</th>
    <td mat-cell *matCellDef="let element">
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <div class="text1">
              {{ element.task_name }}
            </div>
          </mat-expansion-panel-header>
          <p class="text1">{{ element.description }}</p>
        </mat-expansion-panel>
      </mat-accordion>
    </td>
  </ng-container> -->

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Short Description</th>
    <td mat-cell *matCellDef="let element">
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ element.description | slice:0:15 }}{{element.description.length > 15 ? '...' : ''}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="text1">{{ element.description }}</p>
        </mat-expansion-panel>
      </mat-accordion>
    </td>
  </ng-container>

  
  <ng-container matColumnDef="created">
    <th mat-header-cell *matHeaderCellDef>Custom Date</th>
    <td mat-cell *matCellDef="let element">
      <div class="text1">
        {{ element.createdAt | date }}
      </div>
    </td>
  </ng-container>

 
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>Status</th>
    <td
      mat-cell
      *matCellDef="let element"
      class="status"
      [ngClass]="{
        'status--todo': element.status === 'Todo',
        'status--in-progress': element.status === 'in Progress',
        'status--complete': element.status === 'Complete'
      }"
      >{{ element.status }}
    </td>
  </ng-container>

  
  <ng-container matColumnDef="option_edit">
    <th mat-header-cell *matHeaderCellDef>Edit</th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-icon-button
        color="primary"
        (click)="editClient(element)"
        class="btn"
      >
        <mat-icon>edit</mat-icon>
      </button>
    </td>
  </ng-container>

  
  <ng-container matColumnDef="option_delete">
    <th mat-header-cell *matHeaderCellDef>Delete</th>
    <td mat-cell *matCellDef="let element" class="delete-cell">
      
      <button
        mat-mini-fab
        color="warn"
        (click)="deleteClient(element._id)"
        class="btn_d"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

      
