
table {
    width: 100%;
  }

  tr.mat-header-row {
    height: 56px;
    size: 20px; 
  
}

th.mat-header-cell, td.mat-cell{
    text-align: center;
    // padding-right: 40px;
}

.mat-mdc-form-field + .mat-mdc-form-field {
    margin-left: 8px;
  }

  .mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none;
}

.text2{
    display: flex;
    justify-content: flex-end;
}

.text1 {
    display: flex;
    flex: 1;
    overflow: hidden;
    justify-content: center;
}

.mat-header-cell {
    color: white;
    font-size: 15px;
}
.mat-header-row{
    background-color: #444cb0;
}

.mat-button.mat-primary, .mat-icon-button.mat-primary, .mat-stroked-button.mat-primary {
    color: #3f51b5;
    border: 0.5mm solid #3f51b5;
    border-radius: 15%;
}

.mat-mini-fab {
    color: red;
    border: 0.5mm solid red;
    background-color: white;
    border-radius: 15%;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell{
    padding-left: 15px;
    padding-right: 15px;
}

.mat-column-description {
    // padding-left: 16px;
    font-size: 20px;
}

.status {
    color: white;
    font-weight: bold;
   
  
    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 4px 20px rgba(0,0,0,0.2);
    }
  
    &--todo {
      background: linear-gradient(135deg, #56ccf2, #2f80ed);
      // Используйте градиент или ваш брендовый цвет
    }
  
    &--in-progress {
      background: linear-gradient(135deg, #f2994a, #f2c94c);
      // Градиент оттенков оранжевого
    }
  
    &--complete {
      background: linear-gradient(135deg, #27ae60, #219653);
      // Зеленый градиент для завершенного статуса
    }
  }

