
table {
    width: 100%;
  }

  tr.mat-header-row {
    height: 56px;
    size: 20px; 
  
}

th.mat-header-cell, td.mat-cell{
    text-align: center;
    // padding-right: 40px;
}
// .text1{
//   max-width: 250px; /* Максимальная ширина колонки описания */
//   white-space: normal; /* Позволяет тексту переходить на новую строку */
//   word-wrap: break-word; /* Переносит длинные слова на новую строку */
// }

.text1 {
  display: flex;
  justify-content: center;
  max-width: 300px; /* Максимальная ширина колонки описания */
  white-space: normal; /* Позволяет тексту переходить на новую строку */
  word-wrap: break-word; /* Переносит длинные слова на новую строку */
  overflow: hidden;
  flex: 1;
}



.mat-mdc-form-field + .mat-mdc-form-field {
    margin-left: 8px;
  }

  .mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none;
}
mat-expansion-panel {
  max-width: 300px; /* Или другое значение по вашему выбору */
  // margin: 0 auto; /* Автоматические отступы слева и справа для центрирования панели */
}



.text2{
    display: flex;
    justify-content: flex-end;
}

.text1 {
    display: flex;
    flex: 1;
    overflow: hidden;
    justify-content: center;
}

.mat-header-cell {
    color: white;
    font-size: 15px;
}
.mat-header-row{
    background-color: black;
}

.mat-button.mat-primary, .mat-icon-button.mat-primary, .mat-stroked-button.mat-primary {
    color: #3f51b5;
    border: 0.5mm solid #3f51b5;
    border-radius: 15%;
}

.mat-mini-fab {
    color: red;
    border: 0.5mm solid red;
    background-color: white;
    border-radius: 15%;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell{
    padding-left: 10px;
    padding-right: 10px;
}

.status {
    color: white;
    font-weight: bold;
   
  
    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 4px 20px rgba(0,0,0,0.2);
    }
  
    &--todo {
      background: linear-gradient(135deg, #56ccf2, #2f80ed);
      // Используйте градиент или ваш брендовый цвет
    }
  
    &--in-progress {
      background: linear-gradient(135deg, #f2994a, #f2c94c);
      // Градиент оттенков оранжевого
    }
  
    &--complete {
      background: linear-gradient(135deg, #27ae60, #219653);
      // Зеленый градиент для завершенного статуса
    }
  }

  .mat-elevation-z8 {
    border-radius: 8px; /* или любое другое значение для создания округлости */
    overflow: hidden; /* это гарантирует, что содержимое таблицы не выходит за рамки скругления */
  }

