<ng-container>
    <div *ngIf="isEditMode"> EDIT</div>
    <div *ngIf="!isEditMode"> ADD</div>
    <form class="example-form" [formGroup]="form" (ngSubmit)="submit()">
        <mat-form-field class="example-full-width">
            <mat-label for="task_name">NAME:</mat-label>
            <input minlength="4" type="text" id="task_name" [formControl]="form.get('task_name')" matInput>
            <mat-error *ngIf="form.get('task_name').invalid && (form.get('task_name').dirty || form.get('task_name').touched)">
                Имя должно содержать минимум 4 символа
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label for="description">Description:</mat-label>
            <input minlength="4" type="text" id="description" [formControl]="form.get('description')" matInput>
            <mat-error *ngIf="form.get('description').invalid && (form.get('description').dirty || form.get('description').touched)">
                Описание должно содержать минимум 4 символа
            </mat-error>
        </mat-form-field>
        
        <mat-form-field class="example-full-width">
            <mat-label for="status">STATUS:</mat-label>
            <input type="text" id="status" [formControl]="form.get('status')" matInput>
        
        </mat-form-field>
        
        <button mat-stroked-button color="accent" type="submit">SAVE</button>
        <button mat-stroked-button color="accent" type="button" (click)="cancel()">CANCEL</button>
        <button mat-stroked-button color="accent" type="button" (click)="closed()">CLOSED</button>
    </form>
</ng-container>
