<ng-container>
    <div *ngIf="isEditMode"> Edit Task</div>
    <div *ngIf="!isEditMode"> Add NEW Task</div>
    <form class="example-form" [formGroup]="form" (ngSubmit)="submit()">
        <mat-form-field class="example-full-width">
            <mat-label for="task_name">NAME:</mat-label>
            <input minlength="4" type="text" id="task_name" [formControl]="form.get('task_name')" matInput>
            <mat-error *ngIf="form.get('task_name').invalid && (form.get('task_name').dirty || form.get('task_name').touched)">
                The name must contain at least 4 characters
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label for="description">Description:</mat-label>
            <input minlength="4" type="text" id="description" [formControl]="form.get('description')" matInput>
            <mat-error *ngIf="form.get('description').invalid && (form.get('description').dirty || form.get('description').touched)">
                Description must contain at least 4 characters
            </mat-error>
        </mat-form-field>
        
        <!-- <mat-form-field class="example-full-width">
            <mat-label for="status">STATUS:</mat-label>
            <input type="text" id="status" [formControl]="form.get('status')" matInput>
        
        </mat-form-field> -->

        <mat-form-field class="example-full-width">
            <mat-label for="status">STATUS:</mat-label>
            <select matNativeControl required [formControl]="form.get('status')">
              <option value="Todo">Todo</option>
              <option value="in Progress">in Progress</option>
              <option value="Complete">Complete</option>
            </select>
          </mat-form-field>

        <div class="buttons">
            <button mat-flat-button color="primary" type="submit">SAVE</button>
            <button mat-flat-button type="button" (click)="cancel()">CANCEL</button>
            <button class="last-button" mat-button type="button" (click)="closed()">CLOSED</button>
        </div>
    </form>
</ng-container>
