<p>OPERATION WITH HERO</p>

<ng-container *ngIf="hero$ | async">

<form [formGroup]="form" (ngSubmit)="submit()">

    <div class="formGroup">
        <label for="id">ID:</label>
        <input type="text" id="id" [formControl]="idControl">
    </div>

    <div class="formGroup">
        <label for="name">NAME:</label>
        <input type="text" id="name" [formControl]="nameControl">
    </div>

    <div class="formGroup">
        <label for="loc_name">LOCALIZED_NAME:</label>
        <input type="text" id="loc_name" [formControl]="localized_nameControl">
    </div>

    <div class="formGroup">
        <label for="type">TYPE:</label>
        <input type="text" id="type" [formControl]="typeControl">
    </div>
    
    <button type="submit">SAVE</button>

</form>

</ng-container>