
:host{
    margin: 0;
    padding: 0;
}
.container{
    height: auto;
    width: 60%;
    margin: 0 auto;
}

.name_app{
    display: flex;
    flex-direction: column;
}

h1, h4{
    margin: 0;
    padding: 0;
    font-weight: normal;
}

.main{
    display: flex;
    justify-content: flex-end;
}

.example-container mat-form-field + mat-form-field {
    margin-left: 8px;
  }

  .mat-slider {
    width: 150px;
  }
