<br><br><br>
<div class="container">
<div class="name_app">
    <h1>TODO List Demo App</h1>
    <h4>Do it now.</h4>
</div>

<br><br>
<div class="main">

    <ng-container *ngIf="types$ | async as types">
     <select (change)="selectedValue($event.target.value)">
         <option *ngFor="let type of types" [value]="type">
             {{type}}
         </option>
        </select>
    </ng-container>

    <button mat-stroked-button color="primary" (click)="createClient()">Add Task</button>

    <!-- EXAMPLE -->
    <!-- <mat-slider>
        <input matSliderThumb>
      </mat-slider> -->
    <!-- EXAMPLE -->

</div>
<router-outlet></router-outlet>

<br><br><br>

<ng-container>
    <!-- <div *ngFor="let client of clients"> -->

        <app-client-info [clients]="clients$"></app-client-info>

    <!-- </div> -->
</ng-container>



<ng-container *ngIf="error$ | async as error">
    {{error}}
</ng-container>



</div>