<br><br><br>
<div class="container">
<div class="name_app">
    <h1>TODO List Demo App</h1>
    <h4>Do it now.</h4>
    <!-- {{isFormOpened$ | json}} -->
    <!-- <div *ngIf="isFormOpened$ | async "> HEllo </div> -->
</div>

<br><br>
<div class="main">
    <ng-container *ngIf="types$ | async as types">
     <select (change)="selectedValue($event.target.value)">
         <option *ngFor="let type of types" [value]="type">
             {{type}}
         </option>
        </select>
    </ng-container>

    <button mat-stroked-button color="primary" (click)="createClient()">Add Task</button>
</div>
<!-- <router-outlet></router-outlet> -->
<app-add-edit-client *ngIf="isFormOpened"></app-add-edit-client>

<br><br><br>

<ng-container>
        <app-client-info [clients]="clients$"></app-client-info>
</ng-container>



<ng-container *ngIf="error$ | async as error">
    {{error}}
</ng-container>



</div>
