.site-container {
  width: 70%;
  margin: 0 auto; /* Автоматические отступы для центрирования */
  padding-top: 60px; /* Добавляем отступ сверху, чтобы контент не перекрывался .dashboard-header */
  box-sizing: border-box;
}

.name_app{
  font-size:x-large;
}

.mat-primary {
  color: black;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 70%; /* Задаем ширину 70% */
  margin: 0 auto; /* Автоматические отступы для центрирования */
  height: 60px;
  top: 0;
  box-sizing: border-box;
  background-color: white; /* Цвет фона */
  color: black; /* Цвет текста */
}

/* Убедитесь, что .container или другой родительский блок не ограничивает ширину, например: */
.container {
  display: flex;
  width: 100%;
  padding-top: 60px; /* Добавляем отступ сверху, чтобы контент не перекрывался .dashboard-header */
  /* Убедитесь, что другие стили не ограничивают ширину этого элемента */
}

.filter {
  background-color: #8EB8E5; /* Синий фон */
  color: black; /* Белый текст */
  padding: 10px 20px;
  margin: 1rem 0;
  border-radius: 8px; /* Скругленные углы */
  display: inline-flex; /* Для выравнивания элементов в ряд */
  align-items: center; /* Центрирование элементов по вертикали */
  // margin-bottom: 1rem; /* Отступ от следующего элемента на странице */
  width: 300px; /* Если вы хотите, чтобы фильтр занимал половину ширины таблицы */
  justify-content: space-between; /* Распределение элементов по ширине контейнера */
}

/* Обертка для фильтра и формы, используя Flexbox */
.filter-and-form {
  display: flex;
  width: 100%;
  justify-content: space-between; /* Располагает дочерние элементы на противоположных концах */
  align-items: flex-start; /* Выравнивает элементы по верхнему краю */
  gap: 20px; /* Добавляет пробел между элементами */
}

.filter h4 {
  font-size: 1rem; /* Размер шрифта */
  font-weight: normal; /* Нормальный вес шрифта */
  margin: 0; /* Убираем внешние отступы */
}

.custom-select {
  background-color: #8EB8E5; /* Синий фон, как и у фильтра */
  color: black; /* Белый текст */
  border-radius: 8px; /* Скругленные углы */
  appearance: none; /* Убираем стандартную стрелку селекта */
  border: none; /* Убираем границу */
  outline: none; /* Убираем контур при фокусе */
}

/* Обертка для селекта, не нужна, если не используете псевдоэлементы */
.custom-select-wrapper::after {
  content: ''; /* Убираем содержимое, если не используем псевдоэлемент для стрелки */
}

app-add-edit-client {
  /* другие стили */
  margin-bottom: 1rem; /* Замените 1rem на размер отступа, который вы хотите использовать */
  width: 100%;
}

.info-profile{
  margin-bottom: 1rem;
}
.info-profile{
  display: flex;
  flex-direction: column;
  background-color: #8EB8E5; /* Синий фон */
  color: black; /* Белый текст */
  padding: 10px 20px;
  border-radius: 8px; /* Скругленные углы */
  margin-bottom: 1rem; /* Отступ от следующего элемента на странице */
  
  width: 300px; /* Если вы хотите, чтобы фильтр занимал половину ширины таблицы */
  font-size: 1rem; /* Размер шрифта */
  margin: 0; /* Убираем внешние отступы */
}

.info-profile mat-label {
  display: block; /* Сделать каждый label блочным элементом */
  margin-bottom: 5px; /* Добавить отступ снизу */
}