<br /><br /><br />
<div class="container">
  <div class="name_app">
    <h1>TODO List Demo App</h1>
    <h4>Do it now.</h4>
  </div>

  <br /><br />
  <div class="middle-group">
    <div class="main">
      <button mat-stroked-button color="primary" (click)="createClient()">
        Add Task
      </button>

      <ng-container *ngIf="types$ | async as types">
        <mat-form-field>
          <select
            matNativeControl
            (change)="selectedValue($event.target.value)"
          >
            <option *ngFor="let type of types" [value]="type">
              {{ type }}
            </option>
          </select>
        </mat-form-field>
      </ng-container>
    </div>
    <app-add-edit-client *ngIf="isFormOpened"></app-add-edit-client>
  </div>

  <ng-container>
    <app-client-info [clients]="clients$"></app-client-info>
  </ng-container>

  <ng-container *ngIf="error$ | async as error">
    {{ error }}
  </ng-container>
</div>

