<p>OPERATION WITH CLIENT</p>
<!-- {{idControl.value | json}} -->
<ng-container *ngIf="client$ | async">
    <form class="example-form" [formGroup]="form" (ngSubmit)="submit()" >
        <mat-form-field class="example-full-width" *ngIf="idControl.value != 0">
            <mat-label for="_id">ID:</mat-label>
            <input matInput disabled [value]="idControl.value" type="text" id="_id">
        </mat-form-field>
    
        
        <mat-form-field class="example-full-width">
            <mat-label for="task_name">NAME:</mat-label>
            <input type="text" id="task_name" [formControl]="task_nameControl" matInput>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label for="description">Description:</mat-label>
            <input type="text" id="description" [formControl]="descriptionControl" matInput>
        </mat-form-field>
        
        <mat-form-field class="example-full-width">
            <mat-label for="status">STATUS:</mat-label>
            <input type="text" id="status" [formControl]="statusControl" matInput>
        </mat-form-field>
        <button  mat-stroked-button color="accent" type="submit">SAVE</button>
        <button type="button" mat-stroked-button color="accent" (click)="cancel()">CANCEL</button>
      </form>
</ng-container>


